{% extends "layout.html" %}

{% block content %}
<body>
<div class="container"> 
    <!--画像-->
    
   <div class="img_block">
   <img src="{{ url_for('static', filename='images/logo2.png') }}" >
  </div>
    <br>
        <h2  style="text-align:center">気になるコンテンツをクリックしてね</h2>
    <div class="img_check">
    <a href="/robowell" ><img src="{{ url_for('static', filename='images/a.PNG') }}"></a>
    <a href="/sampleform-post"><img src="{{ url_for('static', filename='images/b.PNG') }}"></a>
    </div>
   
    <div class="img_check">
    <a href="/fort"><img src="{{ url_for('static', filename='images/c.PNG') }}"></a>
    <a href="https://www.youtube.com/embed/sUynUMYCO5I"><img src="{{ url_for('static', filename='images/d.PNG') }}"></a><br>
    </div>
    <scripttype="text/javascript"src="c.js"></script>

</div>
</body>
{% endblock %}