{% extends "layout.html" %}

{% block content %}
<div class="container">    <h1>RoboWELLとは？</h1>
    <!--画像-->
 <div class="img_block">
 <img src="{{ url_for('static', filename='images/logo2.png') }}" >
  </div>
<br>
<p style="text-align:center">我々、兵庫県立福祉のまちづくり研究所では、高齢者の健康長寿を実現するための取り組みを「RoboWELL」と名付け、活動を進めています。</p>
    <p style="text-align:center">「RoboWELL」とは、兵庫県立福祉のまちづくり研究所における、RobotやRobot技術を活用した健康長寿を実現するための取り組みです。
    Robot Wellness、Robot Wellbeingから「RoboWELL」と名付けました。
    RoboWELLでは現在、兵庫県の市町、自治体を対象に研究所で開発した評価機器を用いた健康教室を実施しております。
    その中で、地域の住民や支援される方々から手軽に取り組める体操を求める声があり、「RoboWELL体操」という体操を考案・制作しました。</p>
    <a href="/index">ホームに戻る</a>
    <div class="img_check">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sUynUMYCO5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    </div>
    <scripttype="text/javascript"src="c.js"></script>
</div>
{% endblock %}